 {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' href='/css/styles.css'/> --}}

      <div id="carouselExampleIndicators" class="carousel slide relative" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol> -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.imgur.com/H8H6klh.jpg" data-color="#000" class="carousel-img d-block img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.imgur.com/YMCVJCX.jpg?2" data-color="#000" class="carousel-img d-block img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.imgur.com/pwEQMH5.jpg?1" data-color="#000" class="carousel-img d-block img-fluid" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="container absolute">
        <div class="row">
            <div class="col-lg-12">
                <div id="content">
                    <img id = "logo" class="img-fluid" src="https://i.imgur.com/jgEuVn7.png?1" alt="">
                    <h1 id="tagline">From Wags to Riches!</h1>
                </div>
            </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <p>Bacon ipsum dolor amet burgdoggen corned beef turducken rump, frankfurter ball tip salami doner laborum. Sausage kielbasa tenderloin drumstick. Ipsum minim pig biltong spare ribs est. Beef consectetur buffalo, cupidatat prosciutto excepteur labore officia pork tail burgdoggen duis in. Eiusmod meatball leberkas, minim nisi cow aliquip drumstick corned beef.

            Dolore qui beef brisket occaecat eiusmod nostrud voluptate short ribs cupim meatball chuck. Nisi pariatur pork adipisicing est, qui in in non eu dolor jowl cow aliquip shank. Meatloaf exercitation excepteur, biltong ut jowl pancetta short ribs sirloin. Laboris tail jowl ball tip, laborum turkey eu cillum fatback ham hock deserunt boudin exercitation. Duis shankle prosciutto exercitation alcatra nulla filet mignon dolore cow commodo pastrami chuck ut. Qui laboris eiusmod, shankle filet mignon salami chislic jerky jowl aute deserunt esse meatloaf occaecat. Sed enim ut, cillum strip steak ea porchetta ex tri-tip dolor duis.

            Burgdoggen brisket duis, proident pork chop ribeye turducken pastrami ball tip pork loin laborum elit quis excepteur. Beef ribs ea pancetta short ribs proident alcatra pork chop culpa leberkas prosciutto jerky irure tenderloin venison. Doner ut ut tenderloin aute ipsum chicken alcatra meatball minim pastrami shank aliqua sint meatloaf. Quis venison meatloaf, nulla shankle shoulder consequat in ut proident. Irure filet mignon laboris, laborum tail ham swine short loin salami kielbasa deserunt. Fugiat magna consectetur turducken, sirloin anim laboris ut ea officia chuck eu doner culpa.

            Pariatur ipsum exercitation, cillum venison picanha incididunt tail drumstick swine alcatra. Ut bacon pancetta jowl cupim quis reprehenderit turkey hamburger ribeye t-bone dolore chuck. Beef ribs ribeye in elit pariatur voluptate shankle tail incididunt shank esse turkey aliquip hamburger. Velit pastrami pork belly tenderloin biltong shankle. Sunt boudin fatback irure. Rump chicken cupim proident landjaeger laboris culpa reprehenderit dolore. Shoulder deserunt ex drumstick kielbasa rump.

            Ad short loin meatball eiusmod, aute ham hock sunt turkey incididunt ea duis capicola. Eiusmod picanha ground round strip steak. Cow kevin prosciutto sed frankfurter sausage short loin eiusmod alcatra. Andouille brisket quis spare ribs, beef turducken sirloin.

            Dolor sunt consequat venison bacon. Turducken anim cillum, est deserunt ground round cupidatat aliqua qui ham hock dolore sirloin picanha. Salami nisi chuck ut ipsum, burgdoggen elit occaecat fugiat pariatur laboris. Ex enim turducken, biltong aute proident chicken pork anim aliqua deserunt.

            Aliquip non consequat et. Anim spare ribs tenderloin, jerky pork belly meatball eu nisi velit buffalo et pig. Ball tip duis tail velit. Cow ea tri-tip ham ribeye filet mignon shoulder salami biltong.

            Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
            Bacon ipsum dolor amet burgdoggen corned beef turducken rump, frankfurter ball tip salami doner laborum. Sausage kielbasa tenderloin drumstick. Ipsum minim pig biltong spare ribs est. Beef consectetur buffalo, cupidatat prosciutto excepteur labore officia pork tail burgdoggen duis in. Eiusmod meatball leberkas, minim nisi cow aliquip drumstick corned beef.

            Dolore qui beef brisket occaecat eiusmod nostrud voluptate short ribs cupim meatball chuck. Nisi pariatur pork adipisicing est, qui in in non eu dolor jowl cow aliquip shank. Meatloaf exercitation excepteur, biltong ut jowl pancetta short ribs sirloin. Laboris tail jowl ball tip, laborum turkey eu cillum fatback ham hock deserunt boudin exercitation. Duis shankle prosciutto exercitation alcatra nulla filet mignon dolore cow commodo pastrami chuck ut. Qui laboris eiusmod, shankle filet mignon salami chislic jerky jowl aute deserunt esse meatloaf occaecat. Sed enim ut, cillum strip steak ea porchetta ex tri-tip dolor duis.

            Burgdoggen brisket duis, proident pork chop ribeye turducken pastrami ball tip pork loin laborum elit quis excepteur. Beef ribs ea pancetta short ribs proident alcatra pork chop culpa leberkas prosciutto jerky irure tenderloin venison. Doner ut ut tenderloin aute ipsum chicken alcatra meatball minim pastrami shank aliqua sint meatloaf. Quis venison meatloaf, nulla shankle shoulder consequat in ut proident. Irure filet mignon laboris, laborum tail ham swine short loin salami kielbasa deserunt. Fugiat magna consectetur turducken, sirloin anim laboris ut ea officia chuck eu doner culpa.

            Pariatur ipsum exercitation, cillum venison picanha incididunt tail drumstick swine alcatra. Ut bacon pancetta jowl cupim quis reprehenderit turkey hamburger ribeye t-bone dolore chuck. Beef ribs ribeye in elit pariatur voluptate shankle tail incididunt shank esse turkey aliquip hamburger. Velit pastrami pork belly tenderloin biltong shankle. Sunt boudin fatback irure. Rump chicken cupim proident landjaeger laboris culpa reprehenderit dolore. Shoulder deserunt ex drumstick kielbasa rump.

            Ad short loin meatball eiusmod, aute ham hock sunt turkey incididunt ea duis capicola. Eiusmod picanha ground round strip steak. Cow kevin prosciutto sed frankfurter sausage short loin eiusmod alcatra. Andouille brisket quis spare ribs, beef turducken sirloin.

            Dolor sunt consequat venison bacon. Turducken anim cillum, est deserunt ground round cupidatat aliqua qui ham hock dolore sirloin picanha. Salami nisi chuck ut ipsum, burgdoggen elit occaecat fugiat pariatur laboris. Ex enim turducken, biltong aute proident chicken pork anim aliqua deserunt.

            Aliquip non consequat et. Anim spare ribs tenderloin, jerky pork belly meatball eu nisi velit buffalo et pig. Ball tip duis tail velit. Cow ea tri-tip ham ribeye filet mignon shoulder salami biltong.

            Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!</p>
          </div>
        </div>
      </div>

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
  