<footer>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div>
        <p class="copyright">Copyright 2020 &copy; All rights Reserved. Created by Vinit and Kenan</p>
      </div>
    </div>
      
  </div>
</footer>